* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f6f8;
    color: #333;
    line-height: 1.6;
}

/* HEADER */
header {
    background-color: #0a192f;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

header p {
    margin-top: 10px;
    color: #64ffda;
}

/* SECTIONS */
section {
    padding: 40px 20px;
    max-width: 900px;
    margin: auto;
}

h2 {
    margin-bottom: 15px;
    color: #0a192f;
}

/* LISTS */
ul {
    list-style-type: square;
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

/* PROJECTS */
.project-card {
    background: white;
    padding: 20px;
    margin: 15px 0;
    border-left: 5px solid #64ffda;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

/* CONTACT */
#contact p {
    margin: 5px 0;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 15px;
    background-color: #0a192f;
    color: white;
    margin-top: 20px;
}
/* FADE ANIMATION */
.fade {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease;
}

.fade.show {
    opacity: 1;
    transform: translateY(0);
}

/* PROJECT HOVER EFFECT */
.project-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}
